@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --color-main: #7085ff;
    --color-back: #202020;
    --color-send: #303030;
    --color-border: #757577;
    --color-input: #464649;
    --color-button: #464649;
    --color-input-focus: #101010;
    --color-text: #efeff1;
}

body {
    transition: all 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-back);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.send {
    width: 100%;
    max-width: 600px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    background: var(--color-send);
    padding: 20px;
    border-radius: 5px;
    border: 2px solid var(--color-border);
}

.send span {
    color: var(--color-main);
    font-size: 25px;
    font-weight: 500;
    margin: 15px auto;
    font-family: Poppins, sans-serif;
}

.send input, .send textarea {
    padding: 10px;
    outline: none;
    background: var(--color-input);
    color: var(--color-text);
    border-radius: 5px;
    border: 2px solid var(--color-border);
    font-size: 13px;
    transition: all 0.5s;
    font-family: Inter, sans-serif;
    margin: 12px 5px;
}

.send input:focus, .send textarea:focus, .send button:focus {
    background: var(--color-input-focus);
    border: 2px solid var(--color-main);
}

.send button {
    padding: 10px;
    width: 90%;
    margin: 15px auto;
    max-width: 400px;
    outline: none;
    background: var(--color-button);
    color: var(--color-text);
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    border: 2px solid transparent;
    transition: all 0.5s;
    font-family: Inter, sans-serif;
}

.send button:hover {
    border: 2px solid var(--color-border);
}

.send ::placeholder {
    font-family: Inter, sans-serif;
    font-size: 13px;
    color: var(--color-text);
}

.send .send-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send .send-title input {
    width: 40px !important;
    height: 30px !important;
    padding: 0 !important;
}

.switch {
    width: 50%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    color: var(--color-text);
}

.switch label input {
    margin-right: 5px;
}

@keyframes moverte {
    0% {
        border-radius: 50%;
        transform: rotate(0deg);
    }
    50% {
        border-radius: 25%;
        transform: rotate(180deg);
    }
    100% {
        border-radius: 50%;
        transform: rotate(0deg);
    }
}

.container {
    display: flex;
    align-items: baseline;
    transition: all 0.5s;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    transition: all 0.5s;
    
}
.checkmark {
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-border);
    border-radius: 30px;
}
.container:hover input~.checkmark {
    background-color: var(--color-text);
}
.container input:checked~.checkmark {
    background-color: var(--color-main);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked~.checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--color-text);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}